.wrapper-input {
  border: 0.1rem solid var(--border-color);
  border-radius: 0.4rem;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.wrapper-input.-inFocus {
  border-color: var(--primary-color);
  box-shadow: 0rem 0rem 0rem 0.2rem var(--primary-color-light);
}

.main-checkBox {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.4rem;
  appearance: none;
  display: grid;
  place-content: center;
}

.main-checkBox:checked {
  border-color: var(--primary-color);
}

.main-checkBox:focus {
  outline: 0.1rem solid currentColor;
  outline-offset: 0.3rem;
}

.main-checkBox::before {
  display: inline-block;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--primary-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.main-checkBox:checked::before {
  transform: scale(1);
}

.main-button {
  width: 100%;
  padding: 1.2rem 2.4rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 0.4rem;

  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--button-color);
  text-transform: uppercase;
}
