.main-wrapper {
  background-color: var(--background);
  padding: 4rem 2rem;
  height: 100vh;
}

@media (min-width: 768px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .main-wrapper {
    position: relative;
  }
}
