.main-form input {
  border: none;
  background-color: transparent;
  width: 100%;
  color: var(--text-base);
}

.main-form .mainWrapperCheckBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-form .wrapperCheckBox {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.main-form .main-checkBox {
  width: 2rem;
  border: 0.1rem solid var(--border-color);
}

.main-form .paragraph {
  text-align: center;
}

@media (min-width: 768px) {
  .main-form {
    width: 100%;
  }

  .main-form label.main-subtitle {
    margin-left: 10%;
  }

  .main-form .mainWrapperCheckBox {
    width: 80%;
    margin-inline: auto;
  }

  .main-form .mainWrapperCheckBox .main-subtitle {
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .main-form {
    width: 60%;
  }

  .main-form label.main-subtitle {
    margin-left: 0;
  }

  .main-form .mainWrapperCheckBox {
    width: 100%;
  }
}
