.main-header {
  margin-bottom: 3rem;
}

.main-header .logo {
  margin-bottom: 3rem;
  width: 35%;
  max-width: 25rem;
}

.main-header .logIn {
  width: 2.4rem;
  height: 2.4rem;
}

.main-header .wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
