.main-header {
  margin-bottom: 3rem;
}

.main-header .logo {
  margin-bottom: 3rem;
  width: 35%;
  max-width: 25rem;
}

.main-header .logIn {
  width: 2.4rem;
  height: 2.4rem;
}

.main-header .wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .main-header {
    width: 80%;
    margin-inline: auto;
  }
}

@media (min-width: 1024px) {
  .main-header .logo {
    width: 30%;
    max-width: none;
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
}

@media (min-width: 1440px) {
  .main-header {
    width: 60%;
  }
}
